.chart-container {
  align-items: center;
  display: flex;
  height: 80%;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.chart {
  width: 47%;
}

.combined-charts {
  align-items: center;
  display: flex;
  justify-content: center;
}

.x-label {
  margin: 0;
  margin-right: -15px;
  transform: rotate(-90deg);
}

.chart-title {
  font-size: 1.8rem;
  margin: 10px auto;
  width: 10%;
}

.line-break {
  border: .5px solid #d1d2d3;   
  height: .5px;
  margin-top: 10px; 
  width: 80%;
}

.bottom-line {
  margin-bottom: 70px;
}