.chart-container {
  align-items: center;
  display: flex;
  height: 80%;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.chart-axis {
  height: 60%;
  width: 80%;
}

.axis {
  stroke: #7c7c7c;
  stroke-width: 1;
}

.label-title {
  font-weight: 600;
}

.chart {
  height: 80%;
  width: 80%;
}